@font-face {
  font-family: 'BlackHanSans';
  src: url('./fonts/BlackHanSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LeferiBold';
  src: url('./fonts/LeferiBaseBold.ttf') format('truetype');
}

@font-face {
  font-family: 'LeferiRegular';
  src: url('./fonts/LeferiBaseRegular.ttf') format('truetype');
}

.App {
  text-align: center;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  .transition-group {
    position: relative;
  }
  
  .pageSlider-enter {
    opacity: 0;
    transform: scale(1.1);
  }
  
  .pageSlider-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  
  .pageSlider-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .pageSlider-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
}

::-webkit-scrollbar {
  display: none;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: absolute;
  width: 100vw;
  margin: 0 auto;
}

.main {
  color: white;
  background-color: #101010;
  height: 100vh;

  // first page welcome letter
  .welcome {
    transition: all 0.4s;
    -webkit-text-stroke: 4px #ffffff;
    font-size: 15rem;
    text-align: center;
    color: white;
    font-family: 'BlackHanSans', sans-serif;
    text-shadow: 20px 20px 0px #000, 24px 24px 0px rgb(255, 255, 255);
    font-variation-settings: 'weight' 900;
    &:hover {
      font-variation-settings: 'weight' 100;
      color: transparent;
      text-shadow: -20px -20px 0px rgb(255, 255, 255), -24px -24px 0px rgb(0, 0, 0);
      cursor: pointer;
    }
  }
  // first page introduction letter
  .oneLineIntroduction {
    font-size: 70px;
    font-family: 'LeferiBold';
    transition: all 0.4s;
    line-height: 90px;
    text-shadow: 1px 1px 5px white;
    #myName {
      -webkit-text-stroke: 1px #ffffff;
      color: transparent;
      text-shadow: none;
    }
    &:hover{
      cursor: default;
    }
  }
}

.introduction {
  height: 200vh;
  background-color: rgb(52, 52, 52);
}

.stack {
  height: 100vh;
  background-color: rgb(81, 81, 81);
}

.project {
  height: 300vh;
  background-color: rgb(142, 142, 142);
}

.info {
  height: 100vh;
  background-color: rgb(178, 178, 178);
}

.arrows {
  position: absolute;
  bottom: 50px;
  position: fixed;
  .arrow {
    display: inline-block;
    transition: all 0.2s;
    margin: 0px 26px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50px;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 7px 0px rgb(73, 73, 73);
    svg{
      width: 35px;
      height: 35px;
      line-height: 35px;
      color: black;
      padding: 7px;
    }
    &:hover{
      background-color: white;
      transition: all 0.2s;
      cursor: pointer;
      box-shadow: 0px 10px 0px rgb(73, 73, 73);
    }
    &:active{
      position: relative;
      background-color: rgb(156, 156, 156);
      box-shadow: 0px 1px 0px rgb(73, 73, 73);
    }
  }
}