@font-face {
  font-family: 'BlackHanSans';
  src: url('./fonts/BlackHanSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LeferiBold';
  src: url('./fonts/LeferiBaseBold.ttf') format('truetype');
}

@font-face {
  font-family: 'LeferiRegular';
  src: url('./fonts/LeferiBaseRegular.ttf') format('truetype');
}

.App {
  margin: 0;
  text-align: center;
  justify-content: center;
  align-content: center;
  width: 100vw;
  background-color: #272727;

  .pageSlider-enter {
    opacity: 0;
    transform: scale(1.1);
  }

  .pageSlider-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }

  .pageSlider-exit {
    opacity: 1;
    transform: scale(1);
  }

  .pageSlider-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
}

::-webkit-scrollbar {
  display: none;
}

// Pages

.page {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100vw;
  margin: 0 auto;
  justify-content: center;
}

.main {
  color: white;
  background-color: #101010;
  height: 100vh;

  // first page welcome letter
  .welcome {
    transition: all 0.4s;
    -webkit-text-stroke: 4px #ffffff;
    font-size: 15rem;
    text-align: center;
    color: white;
    font-family: 'BlackHanSans', sans-serif;
    text-shadow: 20px 20px 0px #000, 24px 24px 0px rgb(255, 255, 255);
    font-variation-settings: 'weight' 900;
    &:hover {
      font-variation-settings: 'weight' 100;
      color: transparent;
      text-shadow: -20px -20px 0px rgb(255, 255, 255),
        -24px -24px 0px rgb(0, 0, 0);
      cursor: pointer;
    }
  }
  // first page introduction letter
  .oneLineIntroduction {
    font-size: 70px;
    font-family: 'LeferiBold';
    transition: all 0.4s;
    line-height: 90px;
    text-shadow: 1px 1px 5px white;
    #myName {
      -webkit-text-stroke: 1px #ffffff;
      color: transparent;
      text-shadow: none;
    }
    &:hover {
      cursor: default;
    }
  }
}

.introduction {
  height: 100vh;
  color: white;
  width: 80vw;
  .sayHello {
    width: 80vw;
    font-family: 'LeferiBaseBold';
    text-align: left;
    margin: 50px;
    h1 {
      margin: 0;
    }
    h4 {
      margin: 0;
    }
  }
  p {
    letter-spacing: 0.5px;
    display: inline-block;
    width: 400px;
    font-family: 'LeferiRegular';
    font-size: 22px;
  }
  img {
    width: 500px;
    display: inline-block;
  }
}

.stack {
  height: 100vh;
  background-color: rgb(81, 81, 81);
}

.project {
  height: 100vh;
  background-color: rgb(142, 142, 142);
}

.info {
  height: 100vh;
  background-color: rgb(178, 178, 178);
}

.arrows {
  right: 50px;
  position: fixed;
  .arrow {
    display: inline-block;
    transition: all 0.2s;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 7px 0px rgb(73, 73, 73);
    svg {
      line-height: 35px;
      color: black;
      padding: 7px;
    }
    &:hover {
      background-color: white;
      transition: all 0.2s;
      cursor: pointer;
      box-shadow: 0px 10px 0px rgb(73, 73, 73);
    }
    &:active {
      position: relative;
      background-color: rgb(156, 156, 156);
      box-shadow: 0px 1px 0px rgb(73, 73, 73);
    }
  }
}

.resetWrap {
  position: absolute;
  right: 50px;
  position: fixed;
  .reset {
    display: inline-block;
    transition: all 0.2s;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 7px 0px rgb(73, 73, 73);
    svg {
      line-height: 50px;
      color: black;
      padding: 10px;
    }
    &:hover {
      background-color: white;
      transition: all 0.2s;
      cursor: pointer;
      box-shadow: 0px 10px 0px rgb(73, 73, 73);
    }
    &:active {
      position: relative;
      background-color: rgb(156, 156, 156);
      box-shadow: 0px 1px 0px rgb(73, 73, 73);
    }
  }
}

.sidebarBox {
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  position: fixed;
  top: 100px;
  right: -195px;
  width: 200px;
  height: 500px;
  padding: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transition: all 0.5s;
  color: black;
  font-family: 'LeferiRegular';
  font-size: 23px;
  &:hover {
    transition: all 1s;
    transform: translateX(-195px);
    box-shadow: 0px 10px 0px rgb(83, 83, 83);
    background-color: rgba($color: #ffffff, $alpha: 1.0);
  }
  .menu {
    padding: 5px;
    transition: all 0.5s;
    &:hover {
      transition: all 0.5s;
      font-weight: bolder;
      background-color: black;
      color: white;
      cursor: pointer;
    }
    &:first-child {
      margin-top: 50px;
    }
  }
  .progress {
    position: static;
    .circle {
      width: 140px;
      height: 140px;
      margin: 0 auto;
      margin-top: 20px;
      border-radius: 140px;
      border: 5px solid black;
    }
  }
}

.loading {
  background-color: #101010;
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: 'LeferiBold';
  font-size: 30px;
  align-items: center;
  display: flex;
  .loadBox {
    margin: 0 auto;
    .loadLetter {
      margin-left: 100px;
    }
  }
}
